body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #394B59;
}

#root {
	height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	color: orange;
}

p {
	margin: 0px;
}

input {
	color: #717272;
}

a {
	color: #1667A1;
	font-weight: 600;
	text-decoration: none;
}

.prop-desc-1 {
	margin-bottom: 15px;
}

.prop-desc-1 > h4 {
	margin-bottom: 10px;
}

.top-navbar {
	display: flex;
	justify-content: center;
	position: sticky;
	padding: 15px 2.5rem 15px 2.5rem;
}

.top-navbar > .container {
	width: 100%;
	max-width: 1580px;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
}

.to-navbar-links {
	display: flex;
	align-items: center;
	margin-left: 30px;
}

.to-navbar-links > a {
	color: #666363;
	margin-right: 40px;
	text-decoration: none;
}

.to-navbar-links > a:hover {
	color: #3699FF;
}

.landing {
}

.landing-hero {
	display: flex;
	padding: 5rem;
	justify-content: center;
	justify-items: center;
}

.landing-hero-text-panel {
	display: flex;
	max-width: 470px;
	flex-direction: column;
}

.landing-hero-cards {
	display: flex;
	align-items: center;
}

.landing-hero-card {
	width: 151px;
	height: 126px;
	display: flex;
	color: inherit;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	border-radius: 10px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	background-color: #FAFFFE;
	border: solid 1px #3699FF;
}

.landing-hero-card:hover {
	color: #3699FF;
}

.landing-hero-card > .title {
	margin-top: 10px;
}

.landing-hero-card > .desc {
	font-size: 12px;
}

.features-panel-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.landing-feature-card {
	display: flex;
	margin: 50px;
	max-width: 330px;
	flex-direction: column;
}

.landing-feature-card > .title {
	margin-top: 18px;
	font-size: 20px;
	font-weight: bold;
}

.landing-feature-card > .desc {
	margin-top: 7px;
}

.scheme-preview-panel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.used-by-panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.used-by-card {
	width: 170px;
	height: 170px;
	display: flex;
	margin: 40px;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(54, 153, 255, 0.3);
}

.used-by-card > img {
	max-width: 60px;
	filter: sepia(100%) saturate(0%) brightness(50%) hue-rotate(180deg);
}

.footer {
	width: 100%;
	padding: 10px;
	max-width: 1580px;
	display: flex;
	padding: 15px 2.5rem 15px 2.5rem;
	justify-content: space-between;
}

/* General Styles */

.max-width-1500px {
	max-width: 1500px;
}

/* norseu custom styles */

.norseu-panel {
	border: none;
}

/* EXCOMMUNICATED */

.norseu-showcase-component-page {
	padding: 20px;
	margin: 0px;
}

.norseu-showcase-component-page > .norseu-panel-content > .norseu-panel {
	background-color: white !important;
	padding: 10px;
}

.norseu-showcase-component-page > .norseu-panel-content > * > .norseu-panel {
	background-color: white !important;
	padding: 10px;
}

.norseu-showcase-code {
	margin: 0px !important;
	padding: 10px !important;
	background-color: #EBF1F5 !important;
}

.norseu-showcase-elevation {
	width: 170px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 60px;
	margin-bottom: 30px;
	font-weight: 500;
}

.norseu-tag,
.norseu-showcase-badges > .norseu-badge, 
.norseu-showcase-badges > .norseu-tag,
.norseu-showcase-badges > .norseu-pill {
	margin-right: .5em;
	margin-bottom: .5em;
}

.norseu-showcase-badges {
}

.norseu-panel {
	background-color: white;
}

.norseu-showcase-sample-component-div {
	background-color: white;
}

.norseu-showcase-doc-title {
	font-weight: bold;
}

.accordion-controlled-header-buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: rgb(177, 200, 206);
	flex-direction: row-reverse;
}

.accordion-controlled-header-buttons > .left {
	margin-left: 10px;
	font-weight: bold;
	font-size: 120%;
}

.accordion-controlled-header-buttons > .right > i {
	margin-left: 10px;
	cursor: pointer;
	padding: 10px;
	border-radius: 100%;
}

.accordion-controlled-header-buttons > .right > i:hover {
	background-color: rgba(2, 102, 116, 0.2);
}

.norseu-showcase-component-page-preview {
	padding: 20px;
}

.s-flex-wrap > .norseu-panel{
	display: flex;
	background-color: green;
	flex-direction: row;
}

.sppai {
	flex-wrap: wrap;
}

.sppai > * {
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.sppai > div > span {
	margin-bottom: 10px;
}

.max-height-350px {
	max-height: 350px;
}

.left-sidebar {
	width: 200px !important;
	position: relative !important; 
	height: auto !important;
	display: flex;
	flex-direction: column;
}

.left-sidebar > .norseu-scrollpanel {
	padding: 20px !important;
}

.left-sidebar > .norseu-scrollpanel > section {
	display: flex;
	flex-direction: column;
}

.left-sidebar > .norseu-scrollpanel > section > .title {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 10px;
}

.left-sidebar > .norseu-scrollpanel > section > .link {
	text-decoration: none;
	color: rgb(22, 22, 22);
	padding: 5px;
	font-size: 14px;
	padding-left: 10px;
	border-radius: 3px;
}

.left-sidebar > .norseu-scrollpanel > section > .link:hover {
	background-color: rgb(216, 216, 216);
}

.norseu-fileinput-custom {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: auto;
	flex-wrap: wrap;
}

.norseu-fileinput-custom > div {
	display: flex;
	margin: 20px;
	flex-direction: row;
	justify-content: space-between;
}

.norseu-fileinput-custom > div > * {
	margin-right: 20px;
	align-self: center;
}

.norseu-fileinput-custom > div > img {
	width: 150px;
	height: 100px;
}

.norseu-fileinput-custom > div > video {
	width: 150px;
	height: 100px;
	object-fit: fill;
}

.norseu-fileinput-custom > div > button {
	height: 40px;
}

.norseu-preview-messages > div {
	margin-top: 10px;
	margin-right: 10px;
}

/* TMPS */

/* */

.norseu-ripple {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.0);
	position: absolute;
	opacity: 1;
	z-index: 1;
}

.norseu-ripple-effect {
	animation: norseu-ripple-drop .6s linear;
}

@keyframes norseu-ripple-drop {
  100% {
	transform: scale(2);
	opacity: 0;
  }
}
